@import "base.styl"

.game .cover
  float: right
  padding 0 .5em

.game img.game-cover
  border 2px solid #FFF
  max-width: 200px;
  max-height: 200px;

  @media(min-width: screen-xs-min) {
    max-width: 200px;
    max-height: 200px;
  }
  @media (min-width: screen-sm-min) and (max-width: screen-sm-max) {
    max-width: 300px;
    max-height: 300px;
  }
  @media (min-width: screen-md-min) and (max-width: screen-md-max) {
    max-width: 400px;
    max-height: 400px;
  }
  @media (min-width: screen-lg-min) {
    max-width: 400px;
    max-height: 400px;
  }
