@import "base.styl"

.chapter-editor
  .order
    width 5em
  .url
    width calc(100% + 1px)
    margin-left -1px
  .name
    width calc(100% - 5em + 1px)
    margin-left -1px
  label.remove
    padding-top 3px
  .chapter-content
    height: 20em;
  .editor-wrap
    height 100%
  textarea
    max-width 100%
    height 100%
    display flex
    resize none
  .preview-wrap
    max-height 100%
    width 100%
    @media (min-width: screen-md-min)
      width calc(50% - 1em)
  textarea, .preview-wrap
    overflow-y auto
