.guide-count
  margin-left .5em
  cursor help

.guide-editor
  padding-bottom 20em

#chapter .content,
.chapter-content .preview
  blockquote
    font-size initial

.chapters
  .chapter-header
    padding-top     1em
    padding-bottom .5em

    h4
      margin 0

.comments-container
  background: white;
  padding: .5em 1em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px 0 #ccc;
  margin-top 2em;
  margin-bottom 2em;

  h2.header-comments
    margin-top .5em
    margin-bottom .5em

.chapter-header, .panel
  user-select: none
  cursor: default
