// Basic style for text.
green, red, blue, yellow,
danger, info, warn
  padding 0 .25em
  margin 0 .25em
  display inline
  border 1px solid transparent

green
  border-color #32cd32
red
  border-color #f00
blue
  border-color #00f
yellow
  border-color #cc0

danger
  background: #ffb6c1
info
  background #ccffff
warn
  background #fff080

red-text
  color: #d70000

green-text
  color: green

blue-text
  color: blue

yellow-text
  color: yellow
