body {
  background: #f2f2f2;
  padding-top: 70px;
  font-family: "Helvetica Neue", Helvetica, "Microsoft JhengHei UI", "Microsoft YaHei UI", Arial, sans-serif;
  font-size: 150%;
}
.game .cover {
  float: right;
  padding: 0 0.5em;
}
table {
  background: #fff;
}
.game img.game-cover {
  border: 2px solid #fff;
  max-width: 200px;
  max-height: 200px;
}
@media (min-width: 480px) {
  .game img.game-cover {
    max-width: 200px;
    max-height: 200px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .game img.game-cover {
    max-width: 300px;
    max-height: 300px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .game img.game-cover {
    max-width: 400px;
    max-height: 400px;
  }
}
@media (min-width: 1200px) {
  .game img.game-cover {
    max-width: 400px;
    max-height: 400px;
  }
}
a.reset-pw {
  margin-left: 2em;
}
.guide-count {
  margin-left: 0.5em;
  cursor: help;
}
span.caret {
  margin-left: 0.5em;
}
h1 > small {
  margin-left: 1em;
}
hr {
  border-top-color: #ddd;
  width: 75%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.guide-editor {
  padding-bottom: 20em;
}
.chapter-editor .order {
  width: 5em;
}
.chapter-editor .url {
  width: calc(100% + 1px);
  margin-left: -1px;
}
.chapter-editor .name {
  width: calc(100% - 5em + 1px);
  margin-left: -1px;
}
.chapter-editor label.remove {
  padding-top: 3px;
}
.chapter-editor .chapter-content {
  height: 20em;
}
.chapter-editor .editor-wrap {
  height: 100%;
}
.chapter-editor textarea {
  max-width: 100%;
  height: 100%;
  display: flex;
  resize: none;
}
.chapter-editor .preview-wrap {
  max-height: 100%;
  width: 100%;
}
@media (min-width: 992px) {
  .chapter-editor .preview-wrap {
    width: calc(50% - 1em);
  }
}
.chapter-editor textarea,
.chapter-editor .preview-wrap {
  overflow-y: auto;
}
.btn-icon-left {
  padding-right: 0.5em;
}
span.separator {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.chapters .chapter-header {
  padding-top: 1em;
  padding-bottom: 0.5em;
}
.chapters .chapter-header h4 {
  margin: 0;
}
#chapter .content blockquote,
.chapter-content .preview blockquote {
  font-size: initial;
}
#chapter .content green,
.chapter-content .preview green,
#chapter .content red,
.chapter-content .preview red,
#chapter .content blue,
.chapter-content .preview blue,
#chapter .content yellow,
.chapter-content .preview yellow,
#chapter .content danger,
.chapter-content .preview danger,
#chapter .content info,
.chapter-content .preview info,
#chapter .content warn,
.chapter-content .preview warn {
  padding: 0 0.25em;
  margin: 0 0.25em;
  display: inline;
  border: 1px solid transparent;
}
#chapter .content green,
.chapter-content .preview green {
  border-color: #32cd32;
}
#chapter .content red,
.chapter-content .preview red {
  border-color: #f00;
}
#chapter .content blue,
.chapter-content .preview blue {
  border-color: #00f;
}
#chapter .content yellow,
.chapter-content .preview yellow {
  border-color: #cc0;
}
#chapter .content danger,
.chapter-content .preview danger {
  background: #ffb6c1;
}
#chapter .content info,
.chapter-content .preview info {
  background: #cff;
}
#chapter .content warn,
.chapter-content .preview warn {
  background: #fff080;
}
table.table.table-inline {
  width: initial;
}
.comments-container {
  background: #fff;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px 0 #ccc;
}
.comments-container h2.header-comments {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
