callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
callout p:last-child {
  margin-bottom: 0;
}
callout code {
  border-radius: 3px;
}
callout+callout {
  margin-top: -5px;
}
callout-default {
  border-left-color: #777;
}
callout-default h4 {
  color: #777;
}
callout-primary {
  border-left-color: #428bca;
}
callout-primary h4 {
  color: #428bca;
}
callout-success {
  border-left-color: #5cb85c;
}
callout-success h4 {
  color: #5cb85c;
}
callout-danger {
  border-left-color: #d9534f;
}
callout-danger h4 {
  color: #d9534f;
}
callout-warning {
  border-left-color: #f0ad4e;
}
callout-warning h4 {
  color: #f0ad4e;
}
callout-info {
  border-left-color: #5bc0de;
}
callout-info h4 {
  color: #5bc0de;
}
.game .cover {
  float: right;
  padding: 0 0.5em;
}
.game img.game-cover {
  border: 2px solid #fff;
  max-width: 200px;
  max-height: 200px;
}
@media (min-width: 480px) {
  .game img.game-cover {
    max-width: 200px;
    max-height: 200px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .game img.game-cover {
    max-width: 300px;
    max-height: 300px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .game img.game-cover {
    max-width: 400px;
    max-height: 400px;
  }
}
@media (min-width: 1200px) {
  .game img.game-cover {
    max-width: 400px;
    max-height: 400px;
  }
}
.guide-count {
  margin-left: 0.5em;
  cursor: help;
}
.guide-editor {
  padding-bottom: 20em;
}
#chapter .content blockquote,
.chapter-content .preview blockquote {
  font-size: initial;
}
.chapters .chapter-header {
  padding-top: 1em;
  padding-bottom: 0.5em;
}
.chapters .chapter-header h4 {
  margin: 0;
}
.comments-container {
  background: #fff;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px 0 #ccc;
  margin-top: 2em;
  margin-bottom: 2em;
}
.comments-container h2.header-comments {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.chapter-header,
.panel {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
green,
red,
blue,
yellow,
danger,
info,
warn {
  padding: 0 0.25em;
  margin: 0 0.25em;
  display: inline;
  border: 1px solid transparent;
}
green {
  border-color: #32cd32;
}
red {
  border-color: #f00;
}
blue {
  border-color: #00f;
}
yellow {
  border-color: #cc0;
}
danger {
  background: #ffb6c1;
}
info {
  background: #cff;
}
warn {
  background: #fff080;
}
red-text {
  color: #d70000;
}
green-text {
  color: #008000;
}
blue-text {
  color: #00f;
}
yellow-text {
  color: #ff0;
}
body {
  background: #f2f2f2;
  padding-top: 70px;
  font-family: "Helvetica Neue", Helvetica, "Microsoft JhengHei UI", "Microsoft YaHei UI", Arial, sans-serif;
  font-size: 150%;
}
table {
  background: #fff;
}
table.table.table-inline {
  width: initial;
}
a.reset-pw {
  margin-left: 2em;
}
span.caret {
  margin-left: 0.5em;
}
h1 > small {
  margin-left: 1em;
}
hr {
  border-top-color: #ddd;
  width: 75%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.btn-icon-left {
  padding-right: 0.5em;
}
span.separator {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.panel-title > a {
  text-decoration: none;
}
